<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Assine nossa Newsletter</h1>
        <p>Receba E-mail com novidades!</p>
        <form action="/signup" method="post" class="signup-form">
        <input placeholder="Escreva o seu e-mail" name="email" id="email" required type="email"/>
        <button type="submit">Inscreva-se</button>
        </form>
    </div>
</body>
</html>